p{
    background-color: lightcoral;
    font-family: "Verdana", "DejaVu Sans", "sans-serf";
}

#nb2{
    color: blue;
    font-size: 36px;
}

#nb3{
    font-size: 24px;
}

#nb4{
    background-color: rgb(71, 247, 71);
    font-size: 24px;
    font-weight: bold;
}

